# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks
.ipynb_checkpoints

# Virtual Environments
venv/
env/
.env
.venv

# Distribution / Packaging
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/

# Project specific
data/
models/
outputs/
*.csv

